{% extends "base.html" %}
{% load static %}   
{% block title %}Password Change Done{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/registration.css'%}">{% endblock css %}
{% block javascript %}<script src="{% static 'js/registration.js' %}"></script>{% endblock%}
{% block content %}

<div class="wrapper">
    <div class="login">
        <h2 style="text-align:center;">Your Password has been updated!</h2>   
        <div class="d-flex justify-content-center align-items-center gap-3 my-3">
        </div>
    </div>
</div>


{% endblock content %}