{% extends "base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
    <div class="wrapper">
        <div class="form-box login">
            <h2>Enter Your Email</h2>
            
            <!-- Error message display -->
            {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field|title }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
          <!-- Other HTML content -->

          <form class="" action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            <div class="input-box">
                <label for="id_email">Email</label> <br>
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                {{ form.email }}
            </div>
        
            <button type="submit" class="submit-login-btn">Reset Password</button>
        </form>
        
        </div>
    </div>

{% endblock content %}